#header-div {
  height: 97vh;
  width: 100%;
  background: url("../asset/landpage_background.gif");
  background-size:  100% 100%;
  background-repeat: no-repeat;
}

#team-lists {
  padding-top: 40px;
}

.team-info {
  display: flex;
  flex-direction: row;
}

/* Root Styles CSS */
:root {
  background-color: white;
  font-family: Avenir, Helvetica, sans-serif;
  color: black;
}

/* Header CSS */
.header-container {
  overflow: hidden;
  padding: 20px 10px;
  padding-bottom: 60px;
}

.header-left {
  float: left;
  height: 100px;
  width: 310px;
}

.header-left img {
  padding-top: 8px;
  height: 80px;
}

.header-left h1 {
  float: right;
  font-size: 45px;
  
}

.header-right {
  float: right;
  padding-top:30px;
  padding-right:10px;
}
  
.header-right button {
  background-color: white;
  border: solid;
  border-width: 3px;
  border-color: rgb(3, 7, 89);
  border-radius: 0.5rem;
  border-radius: 16px;
  box-sizing: border-box;
  color:  rgb(3, 7, 89);
  cursor: pointer;
  padding: 15px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  width: max-content;
}

.explore-more-button:hover {
  background-color: cyan;
}

/* Home page CSS */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 500px;
  padding: 15px;
  background: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(3, 7, 89);
  border-radius: 0.3rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.057);
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 60px;

  position: relative;
}

.card img {
  height: 100%;
}

.top-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
}

.bottom-container {
  margin-top:30px;
  margin-left: 10px;
}

.bottom-container h3 {
  margin-top: 10px;
  margin-bottom: 6px;
  color: black;
}

.bottom-container p {
  margin: 2px;
  color: gray;
}

.bottom-container a {
  /* color: rgb(228, 16, 133); */
  text-decoration: none;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

/* 404 Page CSS */

.fof-container{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  color:rgb(26, 25, 25);
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .6s alternate infinite;
}

@keyframes type {
  from {box-shadow: inset -3px 0px 0px #888;}
  to {box-shadow: inset -3px 0px 0px transparent;}
}

/* Detail Page CSS*/

.team-info {
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.image-container {
  padding-left: 100px;
  width: 40vw;
  height: 50vh;
}

.image-container img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #D2E0FB;
  padding: 10px;
}
